body {
	/*padding-top: 60px;*/
	color: white;
	background: black;
}

h3 {
	text-shadow: black 0.1em 0.1em 0.2em
}

.collapsible {
	clear: both;
	border: 0px;
}

.responsive-img {
	margin-bottom: 1px;
}

.btn {
	background: #B82601;
}

.movie-suggestion, .person-suggestion {
	padding: 10px 20px;
	float: left;
	width: 200px;
	height: 200px;
}

/*.poster, .profile {
	width: 20%;
	padding: 10px;
}*/

.input-field {
	margin-bottom: 30px;
}
#my-modal-actor, #my-modal-movie {
	color: black;
}
#search-history {
	padding: 10px 20px;
}

/*.main-movie-content {
	color: black;
	text-align: center;
}*/
